header{
    height:200px;
}
#wrapper{
    text-align:center;
}
#logo{
    text-align:center;
}
input{
    margin:0px;
    border:1px solid #333;
    border-radius:10px;
    width:350px;
    transition:all 1s;
}
input:focus{
    width:400px;
}
#info{
    color:#888;
    padding:20px;
    text-align:center;
}
#info p:nth-child(n+2){
    display:none;
}
@media screen and (max-width:480px){
    input{
        width:210px;
    }
    input:focus{
        width:210px;
    }
}
@media screen and (max-width:320px){
    input{
        width:200px;
    }
    input:focus{
        width:200px;
    }
}

#view_on_github{
    position:fixed;
    top:0px;
    left:5%;
    background-color:#333;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
    padding:10px;
}
#view_on_github a:link{
    color:#ccc;
    text-decoration:none;
}
#view_on_github a:visited{
    color:#ccc;
    text-decoration:none;
}
#view_on_github a:hover{
    color:#fff;
    text-decoration:underline;
}
#view_on_github a:active{
    color:#ccc;
    text-decoration:none;
}